@model IEnumerable<Fore_Golf.Models.GameGolferStatusViewModel>

@{
    ViewData["Title"] = "ListGolfers";
}

<h1 class="text-center">Golfer List</h1>

<hr />
<a class="btn btn-outline-info btn-block" asp-controller="Match" asp-action="Details" asp-route-id="@Model.First().MatchId"><i class="fas fa-reply"></i> Return to match lobby</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Handicap
            </th>
            <th>
                In Game?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Golfer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Golfer.Handicap)
                </td>
                <td>
                    @if (item.IsInGame)
                    {
                        <a class="btn btn-success" asp-action="RemoveGolferFromGame" asp-route-id="@item.GameId" asp-route-golferid="@item.Golfer.Id"><i class="fas fa-check-square"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-danger text-center" asp-action="AddGolferToGame" asp-route-id="@item.GameId" asp-route-golferid="@item.Golfer.Id"><i class="fas fa-square"></i></a>
                    }
                    @*@Html.DisplayFor(modelItem => item.IsInGame)*@
                </td>
            </tr>
        }
    </tbody>
</table>
