@model IEnumerable<Fore_Golf.Models.SetScoreViewModel>

@{
    ViewData["Title"] = "SetScore";
}

<h1 class="text-center">Enter golfer scores</h1>

<hr />
<a class="btn btn-outline-info btn-block" asp-controller="Match" asp-action="Details" asp-route-id="@Model.First().MatchId"><i class="fas fa-reply"></i> Return to match lobby</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Handicap
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Golfer.Name
                </td>
                <td>
                    @item.GameHandicap
                </td>
                <td>
                    <form class="form-inline" method="post">
                        <input name="Score" type="number" id="Score" placeholder="@item.Score">
                        <button type="submit" class="btn btn-primary" asp-route-gameid="@item.GameId" asp-route-id="@item.Id">Update</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
