@model Fore_Golf.Models.GameGolferScoreViewModel

@{
    ViewData["Title"] = "ViewScores";
}

<h1 class="text-center">@Model.Games.Location Scores</h1>

<a class="btn btn-block btn-outline-secondary" asp-controller="Match" asp-action="Details" asp-route-id="@Model.Games.MatchId"><i class="fas fa-reply"></i> Return to match lobby</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Golfer Name
            </th>
            <th>
                Handicap
            </th>
            <th>
                Gross Score
            </th>
            <th>
                Net Score
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GolferScores)
        {
            <tr>
                <td>
                    @item.Golfer.Name
                </td>
                <td>
                    @item.GameHandicap
                </td>
                <td>
                    @item.Score
                </td>
                <td>
                    @item.NetScore
                </td>
            </tr>
        }
    </tbody>
</table>
