@model IEnumerable<Fore_Golf.Models.GolferViewModel>

@{
    ViewData["Title"] = "Golfers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="btn btn-block btn-outline-primary" asp-action="Create"><i class="fas fa-user-plus"></i> Add a new golfer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Handicap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Handicap)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fas fa-user-edit"></i></a> |
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                @*<a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to remove this golfer?')">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
