@model Fore_Golf.Models.MatchScoresViewModel

@{
    ViewData["Title"] = "Summary";
}

<h1 class="text-center">Match Summary</h1>

<hr />
<a class="btn btn-block btn-outline-secondary" asp-action="Details" asp-route-id="@Model.Id"><i class="fas fa-reply"></i> Return to match lobby</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Handicap
            </th>
            @foreach (var item in Model.Games)
            {
                <th>
                    @item.GameDate
                </th>
                <th>
                    @item.Location
                </th>
            }
            <th>Final</th>
            <th>Score</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            @foreach (var item in Model.Games)
            {
                <th>
                    Gross
                </th>
                <th>
                    Net
                </th>
            }
            <th>
                Gross
            </th>
            <th>
                Net
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Golfers)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Handicap
                </td>
                @foreach (var game in Model.Games)
                {
                    @if (!game.GameGolfers.Any(g => g.Golfer.Id == item.Id))
                    {
                        <td>
                            DNP
                        </td>
                        <td>
                            DNP
                        </td>
                    }
                    @foreach (var gamegolfer in game.GameGolfers)
                    {
                        @if (gamegolfer.Golfer.Id == item.Id && gamegolfer.Score > 0)
                        {
                            <td>
                                @gamegolfer.Score
                            </td>
                            <td>
                                @gamegolfer.NetScore
                            </td>
                        }
                        @if (gamegolfer.Score == 0)
                        {
                            <td>
                                DNP
                            </td>
                            <td>
                                DNP
                            </td>
                        }
                    }
                }
                <td>
                    @Model.Games.SelectMany(g => g.GameGolfers).Where(gg => gg.Golfer.Id == item.Id).Sum(s => s.Score)
                </td>
                <td>
                    @Model.Games.SelectMany(g => g.GameGolfers).Where(gg => gg.Golfer.Id == item.Id).Sum(s => s.NetScore)
                </td>
            </tr>
        }
    </tbody>
</table>

@*https://localhost:44374/Match/Summary/b740e211-9df2-4a1b-26af-08d7f1fa8734*@